*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas1{
    background: linear-gradient(#231646a2, #4d0941a9), url(asad.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0; 
}
img{
    display: none;
}